USE [PropertyManagementDB]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[ScheduleID] [int] NULL,
	[InvoiceDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[IsExported] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceProjects]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceProjects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NULL,
	[ProjectTitle] [nvarchar](200) NULL,
	[BidAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[AssignedVendor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[UnitNumber] [nvarchar](20) NULL,
	[MonthlyRent] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentPayments]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[TransactionRef] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentSchedules]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TenantID] [int] NULL,
	[DueDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[BaseRent] [decimal](18, 2) NULL,
	[LateFeeAccrued] [decimal](18, 2) NULL,
	[ReminderCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[TenantID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PropertyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkLogs]    Script Date: 4/18/2026 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[ClockInTime] [datetime] NULL,
	[ClockOutTime] [datetime] NULL,
	[GPSLocation] [nvarchar](100) NULL,
	[ProofPhotoURL] [nvarchar](max) NULL,
	[MaterialsUsed] [nvarchar](max) NULL,
	[VendorSignature] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [ProjectID], [ScheduleID], [InvoiceDate], [TotalAmount], [IsExported]) VALUES (1, 1, NULL, CAST(N'2026-04-18T18:32:21.287' AS DateTime), CAST(150.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Invoices] ([InvoiceID], [ProjectID], [ScheduleID], [InvoiceDate], [TotalAmount], [IsExported]) VALUES (2, 2, NULL, CAST(N'2026-04-18T18:32:21.287' AS DateTime), CAST(400.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Invoices] ([InvoiceID], [ProjectID], [ScheduleID], [InvoiceDate], [TotalAmount], [IsExported]) VALUES (3, 6, NULL, CAST(N'2026-04-18T18:32:21.287' AS DateTime), CAST(100.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceProjects] ON 

INSERT [dbo].[MaintenanceProjects] ([ProjectID], [PropertyID], [ProjectTitle], [BidAmount], [Status], [AssignedVendor]) VALUES (1, 1, N'Broken Faucet', CAST(150.00 AS Decimal(18, 2)), N'Closed', N'Fix-It Plumbing')
INSERT [dbo].[MaintenanceProjects] ([ProjectID], [PropertyID], [ProjectTitle], [BidAmount], [Status], [AssignedVendor]) VALUES (2, 2, N'Paint Bedroom', CAST(400.00 AS Decimal(18, 2)), N'Invoiced', N'Pro Painters')
INSERT [dbo].[MaintenanceProjects] ([ProjectID], [PropertyID], [ProjectTitle], [BidAmount], [Status], [AssignedVendor]) VALUES (3, 3, N'AC Repair', CAST(800.00 AS Decimal(18, 2)), N'Work Order', N'CoolAir Inc')
SET IDENTITY_INSERT [dbo].[MaintenanceProjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

INSERT [dbo].[Properties] ([PropertyID], [PropertyName], [Address], [UnitNumber], [MonthlyRent]) VALUES (1, N'Sunrise Apts', N'123 Maple St', N'1A', CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Properties] ([PropertyID], [PropertyName], [Address], [UnitNumber], [MonthlyRent]) VALUES (2, N'Sunrise Apts', N'123 Maple St', N'1B', CAST(1250.00 AS Decimal(18, 2)))
INSERT [dbo].[Properties] ([PropertyID], [PropertyName], [Address], [UnitNumber], [MonthlyRent]) VALUES (3, N'Oak Estates', N'456 Oak Ave', N'Unit 10', CAST(2000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[RentPayments] ON 

INSERT [dbo].[RentPayments] ([PaymentID], [ScheduleID], [PaymentDate], [AmountPaid], [PaymentMethod], [TransactionRef]) VALUES (1, 1, CAST(N'2026-04-18T18:32:21.277' AS DateTime), CAST(1200.00 AS Decimal(18, 2)), N'ACH', NULL)
INSERT [dbo].[RentPayments] ([PaymentID], [ScheduleID], [PaymentDate], [AmountPaid], [PaymentMethod], [TransactionRef]) VALUES (2, 5, CAST(N'2026-04-18T18:32:21.277' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), N'Card', NULL)
INSERT [dbo].[RentPayments] ([PaymentID], [ScheduleID], [PaymentDate], [AmountPaid], [PaymentMethod], [TransactionRef]) VALUES (3, 7, CAST(N'2026-04-18T18:32:21.277' AS DateTime), CAST(3000.00 AS Decimal(18, 2)), N'ACH', NULL)
SET IDENTITY_INSERT [dbo].[RentPayments] OFF
GO
SET IDENTITY_INSERT [dbo].[RentSchedules] ON 

INSERT [dbo].[RentSchedules] ([ScheduleID], [TenantID], [DueDate], [Status], [BaseRent], [LateFeeAccrued], [ReminderCount]) VALUES (1, 1, CAST(N'2026-02-01' AS Date), N'Paid', CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[RentSchedules] ([ScheduleID], [TenantID], [DueDate], [Status], [BaseRent], [LateFeeAccrued], [ReminderCount]) VALUES (2, 2, CAST(N'2026-02-01' AS Date), N'Unpaid', CAST(1250.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[RentSchedules] ([ScheduleID], [TenantID], [DueDate], [Status], [BaseRent], [LateFeeAccrued], [ReminderCount]) VALUES (3, 3, CAST(N'2026-02-01' AS Date), N'Late', CAST(2000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[RentSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenants] ON 

INSERT [dbo].[Tenants] ([TenantID], [FirstName], [LastName], [Email], [PhoneNumber], [PropertyID]) VALUES (1, N'John', N'Doe', N'john@example.com', N'555-0101', 1)
INSERT [dbo].[Tenants] ([TenantID], [FirstName], [LastName], [Email], [PhoneNumber], [PropertyID]) VALUES (2, N'Jane', N'Smith', N'jane@example.com', N'555-0102', 2)
INSERT [dbo].[Tenants] ([TenantID], [FirstName], [LastName], [Email], [PhoneNumber], [PropertyID]) VALUES (3, N'Mike', N'Jones', N'mike@example.com', N'555-0103', 3)
SET IDENTITY_INSERT [dbo].[Tenants] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkLogs] ON 

INSERT [dbo].[WorkLogs] ([LogID], [ProjectID], [ClockInTime], [ClockOutTime], [GPSLocation], [ProofPhotoURL], [MaterialsUsed], [VendorSignature]) VALUES (1, 1, CAST(N'2026-01-10T09:00:00.000' AS DateTime), CAST(N'2026-01-10T10:30:00.000' AS DateTime), N'34.05,-118.24', N'img01.jpg', NULL, NULL)
INSERT [dbo].[WorkLogs] ([LogID], [ProjectID], [ClockInTime], [ClockOutTime], [GPSLocation], [ProofPhotoURL], [MaterialsUsed], [VendorSignature]) VALUES (2, 6, CAST(N'2026-01-12T14:00:00.000' AS DateTime), CAST(N'2026-01-12T14:45:00.000' AS DateTime), N'34.06,-118.25', N'img02.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[WorkLogs] OFF
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsExported]
GO
ALTER TABLE [dbo].[RentPayments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[RentSchedules] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[RentSchedules] ADD  DEFAULT ((0.00)) FOR [LateFeeAccrued]
GO
ALTER TABLE [dbo].[RentSchedules] ADD  DEFAULT ((0)) FOR [ReminderCount]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[MaintenanceProjects] ([ProjectID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[RentSchedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[MaintenanceProjects]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[RentPayments]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[RentSchedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[RentSchedules]  WITH CHECK ADD FOREIGN KEY([TenantID])
REFERENCES [dbo].[Tenants] ([TenantID])
GO
ALTER TABLE [dbo].[Tenants]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[WorkLogs]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[MaintenanceProjects] ([ProjectID])
GO
